name: Trail Quest Robot CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Run Robot Framework Tests
      run: |
        robot -d results tests/home_page_button.robot

    - name: Upload Robot Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: robot-results
        path: results/
